Name         : kconfigwidgets
Version      : 5.2.0
Release      : 1
Group        : System/Base
License      : GPLv2+
Summary      : KDE Frameworks 5 Tier 3 addon for creating configuration dialogs
Description  : |
  KConfigWidgets provides easy-to-use classes to create configuration dialogs, as
  well as a set of widgets which uses KConfig to store their settings.
URL          : http://www.kde.org

Sources:
    - "%{name}-%{version}.tar.xz"

RpmLintIgnore:
    - devel-file-in-non-devel-package
    - no-changelogname-tag
    - library-without-ldconfig-postin
    - library-without-ldconfig-postun

Configure    : none
Builder      : none

PkgBR:
    - kf5-rpm-macros
    - extra-cmake-modules
    - qt5-tools
    - kauth-devel
    - kcoreaddons-devel
    - kcodecs-devel
    - kconfig-devel
    - kconfig-gui
    - kdoctools-devel
    - kguiaddons-devel
    - ki18n-devel
    - kwidgetsaddons-devel
PkgConfigBR:
    - Qt5Core
    - Qt5DBus
    - Qt5Xml
    - Qt5Network
    - Qt5Gui
    - Qt5Widgets
    - Qt5Concurrent
    - Qt5Test
    - Qt5Script
Requires:
    - kf5-filesystem

RequiresPost:
    - /sbin/ldconfig
RequiresPostUn:
    - /sbin/ldconfig

Files:
    - "%doc COPYING COPYING.LIB README.md"
    - "%{_kf5_libdir}/libKF5ConfigWidgets.so.*"
    - "%{_kf5_bindir}/preparetips5"
    - "%{_kf5_datadir}/kconfigwidgets"
    - "%{_mandir}/man1/*"

SubPackages:
    - Name: devel
      Group: Development/Libraries
      Summary: Development files for %{name}
      Description: |
        The %{name}-devel package contains the files necessary to develop applications |
        that use %{name}.
      Requires:
          - kauth-devel
          - kcoreaddons-devel
          - kcodecs-devel
          - kconfig-devel
          - kconfig-gui
          - kdoctools-devel
          - kguiaddons-devel
          - ki18n-devel
          - kwidgetsaddons-devel
      Files:
          - "%{_kf5_includedir}/kconfigwidgets_version.h"
          - "%{_kf5_includedir}/KConfigWidgets"
          - "%{_kf5_libdir}/libKF5ConfigWidgets.so"
          - "%{_kf5_cmakedir}/KF5ConfigWidgets"
          - "%{_kf5_mkspecsdir}/qt_KConfigWidgets.pri"
